<form [formGroup]="addForm" (ngSubmit)="onSave(addForm)">
<div >
	<div class="form-group">
	
	
	
		
		<table>
		<thead><tr><td>Product Name</td>
    <td>Quantity</td>
    </tr></thead>
			<tbody>
				<tr *ngFor="let row of addForm.get('rows')?.controls">
          <td>
            <input [formControl]="row.get('name')">
          </td>
          
          <td>
            <input [formControl]="row.get('qty')">
          </td>
				</tr>
			</tbody>
		</table>

    <button type="submit"> Save</button>
	</div>
</div>
</form>