
  

  
  

  
  /*------ ADDED CSS ---------*/
  .on
  {
    display: none;
  }
  table,td,th{
     border: 1px solid black;
  }
  .on, .off
  {
    color: white;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
  }
  
  .on 
  {
    left: 45%;
  }
  
  .off 
  {
    left: 55%;
  }
  
  input:checked+ .slider .on
  {display: block;}
  
  input:checked + .slider .off
  {display: none;}
  
  /*--------- END --------*/
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;}